* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input, button {
  height: 2rem;
  border-radius: .25rem;
  padding-left: .5rem;
  font-size: .875rem;
  border: none;
}

li {
  list-style: none;
}

span {
  font-weight:600;
}

textarea, input {
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-size: .875rem;
  border-radius: .25rem;
  padding-left: .48rem;
  padding-top: .4rem;
  resize: none;
  border: none;
}

input:focus {
  border: none;
}

.form-holder > button,
.resume-holder > button,
.experience-form > button,
.education-form > button {
  color: white;
  opacity: .8;
  font-weight: 500;
  cursor: pointer;
}

button.remove {
  background-color: rgb(255, 95, 95);
}

button.add {
  background-color: rgb(75, 206, 75);
}

button:hover {
 opacity: 1;
 box-shadow: rgb(180, 180, 180) 0 0 2.5px 1px;
 font-weight: 600;
}

.app { 
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(209, 230, 251);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  background-color: rgb(103, 115, 137);
  color: rgb(209, 230, 251);
}

.resume,
.form-holder {
  width: 8.5in;
  min-height: 11in;
  box-shadow: rgb(180, 180, 180) 0 0px 8px 2px;
  border-radius: .5rem;
}

.form-holder {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  background-color: rgb(208, 208, 208);
  gap: 1rem;
}

.resume-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: .5rem;
}

.resume-header,
.resume-education {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid black;
}

.name-title {
  text-align: center;
}

.resume-header-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem; 
  border-bottom: solid 2px black
}

.resume-holder > button {
  background-color: rgb(247, 154, 104);
  color: white;
}

.resume {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5in;
}

.resume-main {
  padding-top: 1rem;
}

.heading {
  font-size: 18px;
}

.education {
  display: flex;
  justify-content: space-between;
}

.program {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-self: center;
  margin: 2rem 0;
}

.form-title {
  color: rgb(88, 117, 146);
}

.personal-form,
.experience-form,
.education-form {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

#descriptionInput {
  height: 5rem;
}

@media (min-width: 1632px) {
  .program {
    flex-direction: row;
    gap: 1.5rem;
  }
}